#background{
	background: #000;
	z-index: 0;
	max-height:100vh;
	width:100%;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	.user{
		display:inline-block;
		opacity: .2;
	}
}
#content{
	z-index: 1;
	position:absolute;
	top:0;
	left:0;
	width:100%;
}
.page{
	background:#fff;
	margin-top:40px;
	opacity: .7;
	padding: 20px;
	border-radius: 10px;
	li{
		display:inline-block;
		text-align:center;
		a{
			display: block;
			padding: 5px;
		}
	}
}